<div *ngIf="visible" class="quick-open-container">
  <input
    #input
    type="text"
    placeholder="Entrez un nom de fichier pour filtrer.."
    [autofocus]="true"
    (blur)="onBlured()"
    [matAutocomplete]="auto"
    [formControl]="form"/>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelected($event)">
    <mat-option *ngFor="let entry of $entries | async" [value]="entry">
      <div class="entry">
        <ui-icon class="entry-icon" [icon]="entry.uri.path | fileIcon"></ui-icon>
        <span class="entry-name">{{ entry.uri | fileName }}</span>
        <span class="entry-path">{{ entry.uri.path }}</span>
      </div>
    </mat-option>
  </mat-autocomplete>
</div>
