<ui-tree #treeRef [adapter]="adapter" [nodes]="(root|async)||[]">
  <ng-container *treeNode="let node">
    <!-- ADD PADDING ON FILE NODES TO COMPENSATE THE CHEVRON -->
    <div style="padding-left: 12px;" *ngIf="!node.expandable"></div>
    @if (node.expandable && node.level > 0) {
      @if (node.expanded) {
        <ui-icon class="tree-toggle" [icon]="'chevron-down'|iconCodicon" />
      } @else {
       <ui-icon class="tree-toggle" [icon]="'chevron-right'|iconCodicon" />
      }
    }
    <ui-icon *ngIf="node|explorerFileIconOptions as options" [icon]="node.name|iconFile:options"/>
    <div class="tree-label"
      [title]="node.data.uri.path"
      [highlight]="node.name"
      [highlightPattern]="treeRef.filter.term"
      dnd
      (dropped)="onDropped($event)"
      [dndData]="node.id">
    </div>
    <div class="tree-commands">
      <div class="tree-command" *ngIf="node.data.readOnly">
        <div class="codicon codicon-lock"></div>
      </div>
    </div>
  </ng-container>
</ui-tree>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu role="menu" #m="nzMenu">
    <ng-container *ngFor="let group of commands|async; let isLastGroup = last;">
      <ng-container *ngFor="let command of group; trackBy: trackById; let isLastCommand = last;">
        <li role="menuitem" nz-menu-item (click)="command.execute()">
          {{command.label}}
        </li>
      </ng-container>
      <li nz-menu-divider *ngIf="!isLastGroup"></li>
    </ng-container>
  </ul>
</nz-dropdown-menu>
