:host {
  display: block;
  width: 100%;
  height: 100%;
  .tree-node:hover {
    .tree-commands {
      visibility: visible;
    }
  }
}

:host::ng-deep {
  .highlight {
    color: #0066bf;
  }
  .dnd-drag {
    opacity: 0.5;
  }
  .dnd-over {
    box-shadow: inset 0px 0px 0px 2px var(--sideBar-dropBackground);
    background: var(--sideBar-dropBackground);
  }

  cdk-virtual-scroll-viewport {
    overflow-x: hidden;
  }
}

.tree-label {
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tree-commands {
  position: absolute;
  right: 8px;
  display: flex;
  align-items: center;
  visibility: hidden;
}

.tree-command {
  display: inline-flex;
  cursor: pointer;
  padding: 0 0 0 2px !important;
  font-size: 14px;
  --icon-size: 14px;
}

ui-icon {
  --icon-size: 16px;
  margin-right: 4px;
}

ui-icon.tree-toggle {
  --icon-size: 16px;
  margin-right: 2px;
}
