<as-split direction="horizontal" [gutterSize]="1" [useTransition]="true" unit="pixel">
    <as-split-area
      [order]="0"
      [minSize]="36"
      [maxSize]="720"
      [visible]="!leftside.isEmpty"
      [size]="leftside.size">
      <ide-sidebar #leftside side="left"></ide-sidebar>
    </as-split-area>
    <as-split-area [order]="1" [size]="$any('*')">
      <as-split direction="vertical" [gutterSize]="2" [useTransition]="true" (dragEnd)="infobar.size=$any($event.sizes[1])">
        <as-split-area [size]="100 - infobar.size">
          <ide-workbench class="workbench" #workbench></ide-workbench>
        </as-split-area>
        <as-split-area [visible]="!infobar.isEmpty" [size]="infobar.size">
          <ide-infobar #infobar></ide-infobar>
        </as-split-area>
      </as-split>
    </as-split-area>
    <as-split-area
      [order]="2"
      [minSize]="36"
      [maxSize]="720"
      [visible]="!rightside.isEmpty"
      [size]="rightside.size">
      <ide-sidebar #rightside side="right"></ide-sidebar>
    </as-split-area>
</as-split>
<ide-statusbar #statubar></ide-statusbar>
