<div class="media-editor">
  @switch (type) {
    @case ('image') {
      <img [src]="$any(url) | safe: 'url'" />
    }
    @case ('video') {
      <video controls>
        <source [src]="$any(url) | safe: 'url'" />
        Sorry, your browser doesn't support embedded videos.
      </video>
    }
    @case ('audio') {
      <audio controls>
        <source [src]="$any(url) | safe: 'url'" />
        Sorry, your browser doesn't support embedded audio.
      </audio>
    }
    @default {
      <h2>Unsupported media type</h2>
    }
  }
</div>
