<ul class="list-notifs">
  @if (empty | async) {
    <span class="label-empty">AUCUNE NOTIFICATION</span>
  }
  @for (item of items | async; track $index) {
    <li class="item-notif item-notif--{{ item.level }}">
      @switch (item.level) {
        @case ('info') {
          <div class="item-notif__icon codicon codicon-info"></div>
        }
        @case ('warn') {
          <div class="item-notif__icon codicon codicon-warning"></div>
        }
        @default {
          <div class="item-notif__icon codicon codicon-error"></div>
        }
      }
      <div class="item-notif__content" [innerHTML]="item.message"></div>
    </li>
  }
</ul>
