<ide-tabs [type]="'card'" [tabBarExtraContent]="extra" [(selectedIndex)]="activeContainerIndex">
  @for (container of containers; track trackById($index, container)) {
    <ide-tab [title]="title" (tabClick)="setActiveContainer(container)">
      <ng-template #title>
        <ide-badge [count]="(container.badge | async) || 0" [showZero]="false" [offset]="[0, 0]">
          <span>{{ container.title }}</span>
        </ide-badge>
      </ng-template>
    </ide-tab>
  }
  <ng-template #extra>
    @if (activeContainerView) {
      @if (activeContainerViews.length > 1) {
        <ide-select [ngModel]="activeContainerView!.id" (ngModelChange)="setActiveView($event)">
          @for (view of activeContainerViews; track trackById($index, view)) {
            <ide-option [value]="view.id" [label]="view.title"></ide-option>
          }
        </ide-select>
      }
      <ide-command-group [commands]="(activeContainerView!.commands | async) || []"></ide-command-group>
    }
  </ng-template>
</ide-tabs>
@if (activeContainerView) {
  <div class="infobar-content">
    <ng-template [view]="activeContainerView"></ng-template>
  </div>
}
