<nz-tabs [nzType]="'card'" [nzTabBarExtraContent]="extra" [(nzSelectedIndex)]="activeContainerIndex">
  @for (container of containers; track trackById($index, container)) {
    <nz-tab [nzTitle]="title" (nzClick)="setActiveContainer(container)">
      <ng-template #title>
        <nz-badge [nzCount]="(container.badge | async) || 0" [nzShowZero]="false" [nzOffset]="[0, 0]">
          <span>{{ container.title }}</span>
        </nz-badge>
      </ng-template>
    </nz-tab>
  }
  <ng-template #extra>
    @if (activeContainerView) {
      @if (activeContainerViews.length > 1) {
        <nz-select [ngModel]="activeContainerView!.id" (ngModelChange)="setActiveView($event)">
          @for (view of activeContainerViews; track trackById($index, view)) {
            <nz-option [nzValue]="view.id" [nzLabel]="view.title"></nz-option>
          }
        </nz-select>
      }
      <ide-command-group [commands]="(activeContainerView!.commands | async) || []"></ide-command-group>
    }
  </ng-template>
</nz-tabs>
@if (activeContainerView) {
  <div class="infobar-content">
    <ng-template [view]="activeContainerView"></ng-template>
  </div>
}
