<div class="setting-editor">
  <ul class="list-groups">
    @for (item of groups; track item) {
      @if (item.settings?.length !== 0) {
        <li (click)="didSelect(item)">
          <div class="setting-item-group" [ngClass]="{ active: selection?.name === item.name }">
            {{ item.name | nicifyName }}
          </div>
        </li>
      }
    }
  </ul>
  <ul>
    @if (selection) {
      @for (setting of selection.settings; track setting) {
        <p class="setting-item-name active">{{ setting.name | nicifyName: true }}</p>
        @if (setting.type !== 'Checkbox') {
          <p class="setting-item-comment">{{ setting.comment }}</p>
        }
        <div class="setting-item-input">
          @switch (setting.type) {
            @case ('Checkbox') {
              <ide-checkbox [(ngModel)]="setting.value" (checkedChange)="didChange()">{{
                setting.comment
              }}</ide-checkbox>
            }
            @case ('Number') {
              <input type="number" ideInput [(ngModel)]="setting.value" (ngModelChange)="didChange()" />
            }
            @case ('Input') {
              <input type="text" ideInput [(ngModel)]="setting.value" (ngModelChange)="didChange()" />
            }
            @case ('Dropdown') {
              <ide-select [(ngModel)]="setting.value" (ngModelChange)="didChange()">
                @for (item of setting.choices; track item) {
                  <ide-option [label]="item" [value]="item"> </ide-option>
                }
              </ide-select>
            }
          }
        </div>
      }
    }
  </ul>
</div>
