.setting-editor {
  height: calc(100% - 36px);
  display: flex;
}

.tab-bar {
  padding: 0;
}

ul {
  height: 100%;
  width: 100%;
  overflow: auto;
  list-style-type: none;
}

.list-groups {
  width: 180px;
  padding: 0 12px;
  overflow: auto;
}

.setting-item-group {
  cursor: pointer;
  padding: 8px 0;
  &.active,
  &:hover {
    color: #007bff;
  }
}

.setting-item-name {
  cursor: pointer;
  &.active,
  &:hover {
    color: #007bff;
  }
}

.setting-item-input {
  margin-bottom: 8px;
  max-width: 75%;
}

nz-select {
  width: 100%;
}
