.editor-group {
  position: relative;
  overflow: hidden;
}

nz-tabset {
  &::ng-deep {
    .ant-tabs-nav {
      margin: 0;
    }

    .ant-tabs-bar {
      margin: 0;
    }

    .ant-tabs-tab {
      padding: 0;
      border-bottom: 2px solid;
      display: inline-flex;
      align-items: center;
    }

    .codicon {
      cursor: pointer;
      margin: 0 0 0 4px;
    }

    .close-group-btn:hover {
      border: 1px solid;
      border-radius: 8px;
    }
  }

  ui-icon {
    margin-right: 4px;
  }
}

.editor-wrapper {
  display: block;
  height: calc(100% - 41px); // 41px is the height of the nz-tabset element
}
