.editor-group {
  position: relative !important;
  overflow: hidden !important;
}

.editor-group::ng-deep {
  .tab-content {
    display: inline-flex;
    align-items: center;
    padding: 8px 4px !important;
  }
}

.editor-wrapper {
  display: block;
  height: calc(100% - 41px); // leave room for the tab bar
  width: 100%;
}

.tab-icon,
.tab-dirty,
.tab-close {
  margin: 0 4px;
}

.tab-dirty:hover,
.tab-close:hover {
  outline: 1px solid;
  border-radius: 8px;
}

.container-welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
}

