@if (empty) {
  <div class="container-welcome">
    <ng-content />
  </div>
}
<as-split direction="horizontal" [gutterSize]="2" [useTransition]="true" cdkDropListGroup>
  @for (group of groups | async; track trackGroup($index, group)) {
    <as-split-area class="editor-group" [class.editor-group--active]="isActiveGroup(group)">
      <ide-tabs
        type="card"
        (click)="setActiveGroup(group)"
        [(selectedIndex)]="group.activeIndex"
        [tabBarExtraContent]="buttons"
      >
        @for (tab of group.tabs; track trackTab($index, tab)) {
          <ide-tab [title]="title">
            <ng-template #title>
              <div class="tab-content">
                @if (tab.options.icon) {
                  <ui-icon class="tab-icon" [icon]="tab.options.icon" />
                } @else {
                  <ui-icon class="tab-icon" [icon]="tab.options.title | iconFile" />
                }
                <span class="tab-title" [ideTooltip]="tab.options.tooltip" [ideTooltipPlacement]="['top', 'bottom']">{{
                  tab.options.title
                }}</span>
                @if (tab.file?.readOnly) {
                  <span class="codicon codicon-lock-small" ideTooltip="Éditeur en lecture seule"></span>
                }
                @if (tab.resource | fileChanged | async) {
                  <span class="tab-dirty codicon codicon-close-dirty" (click)="group.close(tab.resource)"></span>
                } @else {
                  <span class="tab-close codicon codicon-close" (click)="group.close(tab.resource)"></span>
                }
              </div>
            </ng-template>
          </ide-tab>
        }
        <ng-template #buttons>
          @if (isActiveGroup(group)) {
            <ide-command-group [commands]="(commands | async) || []"></ide-command-group>
          }
        </ng-template>
      </ide-tabs>
      <div class="editor-wrapper" (click)="setActiveGroup(group)">
        <ng-template [editor]="group.activeEditor"></ng-template>
      </div>
    </as-split-area>
  }
</as-split>
