<div class="status-bar-container">
  @for (item of leftViews; track track($index, item)) {
    @if (item.active | async) {
      <div
        [nz-tooltip]="item.tooltip || ''"
        class="status-bar-item"
        [class.clickable]="!!item.action"
        [innerHTML]="item.content | async | safe: 'html'"
        (click)="item.action && item.action()"
      ></div>
    }
  }
  <div class="spacer"></div>
  @for (item of rightViews; track track($index, item)) {
    @if (item.active | async) {
      <div
        [nz-tooltip]="item.tooltip || ''"
        class="status-bar-item"
        [class.clickable]="!!item.action"
        [innerHTML]="item.content | async | safe: 'html'"
        (click)="item.action && item.action()"
      ></div>
    }
  }
</div>
