@if (preview) {
  @switch (preview!.type) {
    @case ('URL') {
      <div class="preview-editor">
        <iframe [src]="preview!.data | safe: 'resource'" frameborder="0"></iframe>
      </div>
    }
    @case ('HTML') {
      <div class="preview-editor">
        <iframe [srcdoc]="preview!.data | safe: 'html'" frameborder="0"></iframe>
      </div>
    }
    @case ('MARKDOWN') {
      <div class="preview-editor">
        <nge-markdown [data]="preview!.data"></nge-markdown>
      </div>
    }
    @default {
      <div class="preview-editor">
        <div class="center">NO PREVIEW</div>
      </div>
    }
  }
} @else {
  <div class="center">NO PREVIEW</div>
}
