:host {
  display: flex;
  height: 100%;
  width: 100%;
  &.right {
    flex-direction: row-reverse;
  }
}

.activitybar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 48px;
  background-color: var(--activityBar-background);
  color: var(--activityBar-foreground);
}

.activitybar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: visible;
  width: 48px;
  height: 48px;
  margin-bottom: 8px;
  cursor: pointer;
  color: var(--activityBar-inactiveForeground);
  &.active {
    background-color: var(--sideBar-background);
    border-left: 2px solid var(--activityBar-activeBorder);
  }

  &::ng-deep {
    .mat-badge-content {
      right: 0px !important;
      top: -8px !important;
      font-size: 12px !important;
      font-weight: 600 !important;
      width: unset !important;
      min-width: 8px !important;
      height: 16px !important;
      line-height: 16px !important;
      padding: 0 4px !important;
      border-radius: 20px !important;
      text-align: center !important;
      color: var(--activityBarBadge-foreground) !important;
      background-color: var(--activityBarBadge-background) !important;
    }
  }
}

.activitybar-icon {
  --icon-size: 24px;
}

.sidebar {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  user-select: none;
  background-color: var(--sideBar-background);
  color: var(--sideBar-foreground);
}

.spacer {
  flex: 1;
}

// https://material.angular.io/cdk/drag-drop/overview
.cdk-drag-preview {
  background-color: var(--activityBar-dropBackground);
  color: var(--activityBar-foreground) !important;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

ul,
li {
  list-style: none;
}
