<ng-container *ngIf="!isEmpty">
  <ul class="activitybar" role="toolbar" aria-label="Activity Bar" cdkDropList (cdkDropListDropped)="reorder($event)">
    @for (item of top; track item.id) {
      <li cdkDrag cdkDragLockAxis="y">
        <ng-container *ngTemplateOutlet="activityBarItemTplt; context: { $implicit: item }"></ng-container>
      </li>
    }
    <li class="spacer"></li>
    @for (item of bottom; track item.id) {
      <li>
        <ng-container *ngTemplateOutlet="activityBarItemTplt; context: { $implicit: item }"></ng-container>
      </li>
    }
  </ul>
  <div class="sidebar" aria-label="Side Bar">
    <ide-view-group *ngIf="active" [container]="active"></ide-view-group>
  </div>
</ng-container>
<ng-template #activityBarItemTplt let-item>
  @if (item.dropdown) {
    <div class="activitybar-item" role="button" [id]="item.id" [attr.aria-label]="item.title">
      <nz-badge [nzCount]="(item.badge | async) || 0">
        <ui-icon
          class="activitybar-icon"
          [id]="item.id"
          [icon]="item.icon"
          [nz-tooltip]="item.title"
          nz-dropdown
          [nzDropdownMenu]="menu"
        >
        </ui-icon>
      </nz-badge>
    </div>
  } @else {
    <div
      class="activitybar-item"
      role="button"
      [id]="item.id"
      [class.active]="isActive(item)"
      [attr.aria-label]="item.title"
    >
      <nz-badge [nzCount]="(item.badge | async) || 0">
        <ui-icon
          class="activitybar-icon"
          [id]="item.id"
          [icon]="item.icon"
          [nz-tooltip]="item.title"
          (click)="setActive(item)"
        >
        </ui-icon>
      </nz-badge>
    </div>
  }
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu nzSelectable>
      @for (menuItem of item.dropdown; track $index) {
        <li nz-menu-item (click)="menuItem.action()">{{ menuItem.label }}</li>
      }
    </ul>
  </nz-dropdown-menu>
</ng-template>
