@if (!isEmpty) {
  <ul class="activitybar" role="toolbar" aria-label="Activity Bar" cdkDropList (cdkDropListDropped)="reorder($event)">
    @for (item of top; track item.id) {
      <li cdkDrag cdkDragLockAxis="y">
        <ng-container *ngTemplateOutlet="activityBarItemTplt; context: { $implicit: item }"></ng-container>
      </li>
    }
    <li class="spacer"></li>
    @for (item of bottom; track item.id) {
      <li>
        <ng-container *ngTemplateOutlet="activityBarItemTplt; context: { $implicit: item }"></ng-container>
      </li>
    }
  </ul>
  <div class="sidebar" aria-label="Side Bar">
    @if (active) {
      <ide-view-group [container]="active"></ide-view-group>
    }
  </div>
}
<ng-template #activityBarItemTplt let-item>
  @if (item.dropdown) {
    <div class="activitybar-item" role="button" [id]="item.id" [attr.aria-label]="item.title">
      <ide-badge [count]="(item.badge | async) || 0">
        <ui-icon
          class="activitybar-icon"
          [id]="item.id"
          [icon]="item.icon"
          [ideTooltip]="item.title"
          [ideMenuTriggerFor]="menu"
        >
        </ui-icon>
      </ide-badge>
    </div>
  } @else {
    <div
      class="activitybar-item"
      role="button"
      [id]="item.id"
      [class.active]="isActive(item)"
      [attr.aria-label]="item.title"
    >
      <ide-badge [count]="(item.badge | async) || 0">
        <ui-icon
          class="activitybar-icon"
          [id]="item.id"
          [icon]="item.icon"
          [ideTooltip]="item.title"
          (click)="setActive(item)"
        >
        </ui-icon>
      </ide-badge>
    </div>
  }
  <ng-template #menu>
    <ul ideMenu>
      @for (menuItem of item.dropdown; track $index) {
        <li ideMenuItem (click)="menuItem.action()">{{ menuItem.label }}</li>
      }
    </ul>
  </ng-template>
</ng-template>
