<div class="input-wrapper">
  <ide-search-input
    [controls]="true"
    [(query)]="form.query"
    [(useRegex)]="form.useRegex"
    [(matchCase)]="form.matchCase"
    [(matchWord)]="form.matchWord"
    [(pattern)]="pattern"
    placeholder="Rechercher"
    arialLabel="Rechercher: Écrivez votre texte et pressez Entrer pour rechercher or Esc pour annuler"
    (search)="search()">
  </ide-search-input>
</div>
<!--
<div>
  <span>Fichiers à inclure</span>
  <ide-search-input
    [controls]="false"
    [(query)]="form.include"
    placeholder="src,home/a.ts"
    arialLabel="Fichiers à inclure"
    (search)="search()">
  </ide-search-input>
</div>
<div>
  <span>Fichers à exclure</span>
  <ide-search-input
    [controls]="false"
    [(query)]="form.exclude"
    placeholder="src,home/a.ts"
    arialLabel="Fichiers à exclure"
    (search)="search()">
  </ide-search-input>
</div>
-->
<ng-container *ngIf="isEmpty">
  <div>
    Aucun résultat pour '{{ form.query }}'
    <!--
    <span *ngIf="form.include"> in '{{ form.include }}' </span>
    <span *ngIf="form.exclude"> excluding '{{ form.exclude }}' </span>
    -->
  </div>
</ng-container>
<ng-container *ngIf="searching">
  <div class="center">
    <mat-spinner diameter="64" strokeWidth="2"></mat-spinner>
  </div>
</ng-container>
<ui-tree #treeRef [nodes]="nodes" [adapter]="adapter">
  <ng-container *treeNode="let node">
    <span class="tree-label">
      <ng-container *ngIf="node.expandable; else leafTemplate">
        <div class="codicon codicon-{{treeRef.isExpanded(node) ? 'chevron-down' : 'chevron-right' }}"></div>&nbsp;
        <ui-icon [icon]="node.name | fileIcon"></ui-icon>&nbsp;
        <span [highlight]="node.name" [highlightPattern]="pattern"></span>
      </ng-container>
      <ng-template #leafTemplate>
        <div [style.margin]="'0 8px'">
          <span>{{ node.data.lineno }}:</span>&nbsp;
          <span [highlight]="node.name" [highlightPattern]="pattern"></span>
        </div>
      </ng-template>
    </span>
  </ng-container>
</ui-tree>
