<div class="input-wrapper">
  <ide-search-input
    [controls]="true"
    [(query)]="form.query"
    [(useRegex)]="form.useRegex"
    [(matchCase)]="form.matchCase"
    [(matchWord)]="form.matchWord"
    [(pattern)]="pattern"
    placeholder="Rechercher"
    arialLabel="Rechercher: Écrivez votre texte et pressez Entrer pour rechercher or Esc pour annuler"
    (submitted)="search()"
  >
  </ide-search-input>
</div>

<!-- <div>
<span>Fichiers à inclure</span>
<ide-search-input
  [controls]="false"
  [(query)]="form.include"
  placeholder="src,home/a.ts"
  arialLabel="Fichiers à inclure"
  (submitted)="search()">
</ide-search-input>
</div>
<div>
  <span>Fichers à exclure</span>
  <ide-search-input
    [controls]="false"
    [(query)]="form.exclude"
    placeholder="src,home/a.ts"
    arialLabel="Fichiers à exclure"
    (submitted)="search()">
  </ide-search-input>
</div>
-->
@if (isEmpty) {
  <div>
    Aucun résultat pour '{{ form.query }}'
    <!--
    <span *ngIf="form.include"> in '{{ form.include }}' </span>
    <span *ngIf="form.exclude"> excluding '{{ form.exclude }}' </span>
    -->
  </div>
}
@if (searching) {
  <ide-skeleton [active]="true"></ide-skeleton>
  <ide-skeleton [active]="true"></ide-skeleton>
  <ide-skeleton [active]="true"></ide-skeleton>
}
<ui-tree #treeRef [nodes]="nodes" [adapter]="adapter">
  <ng-container *treeNode="let node">
    <span class="tree-label" [ideTooltip]="node.data.resource | fileName: true">
      @if (node.expandable) {
        <div class="codicon codicon-{{ treeRef.isExpanded(node) ? 'chevron-down' : 'chevron-right' }}"></div>
        &nbsp; <ui-icon [icon]="node.name | iconFile"></ui-icon>&nbsp;
        <span [highlight]="node.name" [highlightPattern]="pattern"></span>
      } @else {
        <div [style.margin]="'0 8px'">
          <span>{{ node.data.lineno }}:</span>&nbsp;
          <span [highlight]="node.name" [highlightPattern]="pattern"></span>
        </div>
      }
    </span>
  </ng-container>
</ui-tree>
