<ng-container *ngFor="let tuple of menus">
  <ng-container *ngIf="tuple[1]|async as items">
    <ng-container *ngIf="items.length">
      <button
        mat-button
        class="menu"
        nz-dropdown
        [nzDropdownMenu]="menu">
        {{ tuple[0] }}
      </button>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu role="menu">
          <ng-container *ngFor="let item of items; let isLast = last;">
            <ng-container *ngIf="!item.isSeparator; else separator">
              <li
                nz-menu-item
                role="menuitem"
                class="menu-item"
                [class.disabled]="!item.command?.enabled"
                [attr.data-command]="item.command?.id"
                (click)="item.command?.execute()">
                <div class="menu-icon"></div>
                <div class="menu-label">{{ item.command?.label }}</div>
                <div class="menu-shorcut">{{ item.command?.keybinding }}</div>
              </li>
            </ng-container>
            <ng-template #separator>
              <mat-divider *ngIf="!isLast"></mat-divider>
            </ng-template>
          </ng-container>
        </ul>
      </nz-dropdown-menu>
    </ng-container>
  </ng-container>
</ng-container>

<div class="spacer"></div>
<a href="https://github.com/mciissee/nge-ide" target="_blank" mat-button>NGE IDE</a>
