@if (buttons | async; as actions) {
  @for (action of actions; track action.command.id) {
    @if (action.command.enabled) {
      <button
        ideButton
        [type]="action.buttonType || (action.colors ? 'primary' : 'default')"
        (click)="action.command.execute()"
        [style.background-color]="action.colors?.background"
        [style.color]="action.colors?.foreground"
        class="action"
      >
        <ui-icon [icon]="action.command.icon" />
        {{ action.command.label }}
      </button>
    }
  }
}
@for (tuple of menus; track tuple[0]) {
  @if (tuple[1] | async; as items) {
    @if (items.length) {
      <button ideButton type="text" class="menu" [ideMenuTriggerFor]="menu">
        {{ tuple[0] }}
      </button>
      <ng-template #menu>
        <ul ideMenu>
          @for (item of items; track $index) {
            @if (!item.isSeparator) {
              <li
                ideMenuItem
                class="menu-item"
                [class.disabled]="!item.command?.enabled"
                [attr.data-command]="item.command?.id"
                (click)="item.command?.execute()"
              >
                <div class="menu-item-content">
                  <div class="menu-icon"></div>
                  <div class="menu-label">{{ item.command?.label }}</div>
                  <div class="menu-shorcut">{{ item.command?.keybinding }}</div>
                </div>
              </li>
            } @else {
              @if (!$last) {
                <ide-divider dashed></ide-divider>
              }
            }
          }
        </ul>
      </ng-template>
    }
  }
}

<div class="spacer"></div>
<a href="https://github.com/cisstech/nge-ide" target="_blank" ideButton type="link">
  NGE IDE
</a>
