@for (tuple of menus; track tuple[0]) {
   <ng-container *ngIf="tuple[1]|async as items">
    <ng-container *ngIf="items.length">
      <button
        nz-button
        nzType="text"
        class="menu"
        nz-dropdown
        [nzDropdownMenu]="menu">
        {{ tuple[0] }}
      </button>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu role="menu">
          @for (item of items; track $index) {
            <ng-container *ngIf="!item.isSeparator; else separator">
              <li
                nz-menu-item
                role="menuitem"
                class="menu-item"
                [class.disabled]="!item.command?.enabled"
                [attr.data-command]="item.command?.id"
                (click)="item.command?.execute()">
                <div class="menu-item-content">
                  <div class="menu-icon"></div>
                  <div class="menu-label">{{ item.command?.label }}</div>
                  <div class="menu-shorcut">{{ item.command?.keybinding }}</div>
                </div>
              </li>
            </ng-container>
            <ng-template #separator>
              <nz-divider nzDashed *ngIf="!$last"></nz-divider>
            </ng-template>
          }
        </ul>
      </nz-dropdown-menu>
    </ng-container>
  </ng-container>
}

<div class="spacer"></div>
<a href="https://github.com/cisstech/nge-ide" target="_blank" mat-button>NGE IDE</a>
