:host {
  display: flex;
  align-content: center;
  align-items: center;
  height: 40px;
  font-size: 12px;
  padding: 0 8px;
  background-color: rgb(59, 66, 82);
  border-bottom: 1px solid var(--tab-border);
  .menu, a {
    color: rgb(216, 222, 233) !important;
  }
}

nz-divider {
  margin: 8px 0;
}

.menu {
  min-width: 36px;
  line-height: 36px;
  padding: 0 8px;
  background-color: transparent;
}


.action {
  min-width: 36px;
  line-height: 36px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.menu-item {
  min-height: 24px;
  max-height: 24px;
  line-height: 24px;
  font-size: 14px;
  padding: 0;
  cursor: pointer;
  &.disabled {
    opacity: 0.4;
    &:hover {
      background-color: transparent;
    }
  }
}

.menu-item-content {
  display: grid;
  grid-template-columns: 32px 1fr auto 32px;
}

.menu-label {
  padding: 0px 32px 0px 2px;
}

.spacer {
  flex: 1;
}
